
%ul(class="breadcrumb")
  %li
    %a(href="/")
      Home
    %span(class="divider")
      \/
  %li
    %a(href="/repositories/#{@repository.id}")
      &= "#{@repository.name} Repository"
    %span(class="divider")
      \/
  %li(class="active")
    %a(href="/repositories/#{@repository.id}/scripts/#{@script.id}/edit")
      &= "Edit #{@script.name || "Unamed"} Script"

%h1
  Edit Script

%form(action="/repositories/#{@repository.id}/scripts/#{@script.id}" method="post" name="edit-script-form" class="well")
  = haml :"scripts/_form.html", layout: false, locals: { script:  @script }

  .form-actions
    %input(type='submit' value='Update script' class="btn btn-primary")
